services:
  api:
#    build:
#      dockerfile: Dockerfile
#      context: .
#      target: development
#    volumes:
#      - .:/usr/src/app
    env_file:
      - .env
    command: npm run migration:run && npm run start:dev
    image: ebenezerugo/film-app
    ports:
      - '3000:3000'
    depends_on:
      - postgres

  postgres:
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - '5432:5432'
    volumes:
      - film-db-data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - '8080:8080'

volumes:
  film-db-data:
   driver: local
